.dhvsulogo{
    width: 75px;
    height: 75px;
    display: block;
    margin: auto;
    
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('dhvsu.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;
    
}



.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 35px;
    background-color: rgba(43, 43, 43, 0.795);
    box-shadow: 0 0 10px rgba(231, 221, 221, 0.925);
    border-radius: 10px;
}

h2 {
    text-align: center;
    color: #ffffff;
    padding: 20px;
}

.form-group {
    margin-bottom: 10px;
}

b{

    color: #ffffff;

}


label {
    display: block;
    margin-bottom: 8px;
    color: #ffffff;

}

input[type="StudentId"]{
    width: 65%;
    padding: 5px;
    border: 1px solid #000000;
    border-radius: 1px;
    font-size: 16px;
}
input[type="email"]{
    width: 65%;
    padding: 5px;
    border: 1px solid #000000;
    border-radius: 1px;
    font-size: 16px;
}
input[type="password"] {
    width: 65%;
    padding: 5px;
    border: 1px solid #000000;
    border-radius: 1px;
    font-size: 16px;
}

input[type="submit"] {
    background-color: rgb(4, 0, 255);
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    font-size: 18px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #2185d0;
}
